 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url("images/pexels-photo-7365270.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 829px;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 6px;
  margin: 277px 823px 0 31px;
}

.u-section-1 .u-text-2 {
  margin: 38px -31px 0 31px;
}

.u-section-1 .u-image-1 {
  width: 330px;
  height: 330px;
  background-image: url("images/289567541_108917958535329_3782538070591669910_n.jpeg");
  background-position: 50% 50%;
  margin: -24px 81px 0 auto;
}

.u-section-1 .u-text-3 {
  font-size: 1.125rem;
  font-weight: 300;
  margin: -299px 729px 0 31px;
}

.u-section-1 .u-social-icons-1 {
  white-space: nowrap;
  height: 21px;
  min-height: 16px;
  width: 210px;
  min-width: 190px;
  margin: 31px auto 60px 31px;
}

.u-section-1 .u-icon-1 {
  height: 100%;
}

.u-section-1 .u-icon-2 {
  height: 100%;
}

.u-section-1 .u-icon-3 {
  height: 100%;
}

.u-section-1 .u-icon-4 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 643px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 82px;
    margin-right: 654px;
    margin-left: 19px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 52px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    margin-top: -18px;
    margin-right: 52px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: -305px;
    margin-right: 560px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1152px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 634px;
    margin-right: 434px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -601px;
    margin-right: auto;
  }

  .u-section-1 .u-text-3 {
    margin-top: 278px;
    margin-right: 340px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-bottom: 40px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1120px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 254px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 20px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -597px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 274px;
    margin-right: 160px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1128px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 564px;
    margin-right: 19px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 54px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -580px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 250px;
    margin-right: 0;
  }

  .u-section-1 .u-social-icons-1 {
    margin-bottom: 60px;
    margin-left: 0;
  }
}