html{
  background: #ddd;
}

body{
  cursor: default;
  margin: 0px 0 35px 0;
  -webkit-user-select: none;
  text-shadow: 0 2px 2px rgba(255,255,255, 1);
  font: 15px -apple-system-font, ".Helvetica NeueUI", "Helvetica Neue", sans-serif;
}

.bg{
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 5%;
}

*{
  border: 0;
  outline: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body>p{
  margin-top: -25px;
}

a,button{
  color: #007aff;
  text-decoration: none;
}

header h1{
  font-size: 14px;
  line-height: 44px;
  font-weight: 500;
  text-align: center;
}

ul li{
  margin-left: 20px;
  border-bottom: 1px solid #fff;
}

ul li>p,ul li>a,ul li>button{
  padding: 13px 15px;
  margin-left: -15px;
}

ul li:last-child{
  border-bottom: 0;
}

ul li>a,ul li>button{
  position: relative;
  display: block;
  color: #007aff;
  padding-right: 30px;
  z-index: 2;
}

img.icon{
  width: 29px;
  height: auto;
  max-height: 29px;
  min-width: 29px;
  border-radius: 8px;
  margin: -7px 6px -9px -8px;
  filter: drop-shadow(0px 1px 1px #000A);
}

ul{
  position: relative;
  top: 0%;
  left: 50%;
  width: 90%;
  list-style: none;
  background: #eee;
  border-radius: 10px;
  margin: 20px 0 0px 0;
  border: 0.5px solid #aaa;
  transform: translateX(-50%);
  box-shadow:
  0 2.3px 3.8px rgba(0, 0, 0, 0.05),
  0 6.3px 10.6px rgba(0, 0, 0, 0.1),
  0 15.1px 25.6px rgba(0, 0, 0, 0.2),
  0 50px 85px rgba(0, 0, 0, 0.04),
  inset 0px 0px 10px rgba(0,0,0, 0),
  0 -1.3px 2.8px 1px rgba(255,255,255, 0.1),
  0 -6.3px 8.6px 3px rgba(255,255,255, 0.2),
  0 -8.1px 10.6px 5px rgba(255,255,255, 0.3);
}
